#simon {
	margin: auto;
}


td{
		height: 200px;
		width: 200px;
		outline: 5px solid black;

		}	

table{border: 5px solid black;}

h2 {
	font-family: Arial;
	font-size: 3em;
	display: inline;
}
	
footer {
	background-color: rgba(100, 100, 100, 0);
	list-style-type: none;
	width: 99%;
	text-align:center;
	}
	
body {
	text-align: center;
	}

button {
		height: 100px;
		width: 200px;
		font-size: 2em;
		font-weight: 900;
		}
